<% if obj.errors.any? %>
<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <div class="panal panal-danger">
            <div class class="panal-heading">
                <h2 class="panal-title"> 
                    <%= pluralize(obj.errors.count, "error") %>
                    prohibited this article from being saved:
                </h2>
                <div class ="panal-body">
                    <ul>
                        <% obj.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                        <% end %>s
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<% end %>